<h1>Events</h1>

<h2>Upcoming</h2>
<% @upcoming.each do |event| %>
    <%= render 'events/event', event: event %>
<% end %>
<br>
<br>
<h2>Previous</h2>
<% @previous.each do |event| %>
  <%= render 'events/event', event: event %>
<% end %>
